<!DOCTYPE html>
<html>
<head>

<title>KOL Connect</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">




</head>

<body>

<div class="page-wrapper">

<!-- Navbar -->

<div class="navbar">

<div class="logo">KOL Connect</div>

<ul class="nav-links">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/pricing">Pricing</a></li>
<li><a href="/explore-kols">Explore KOLs</a></li>
<li><a href="/explore-campaigns">Campaigns</a></li>
<li><a href="/login">Login</a></li>
</ul>

</div>

<!-- PAGE CONTENT -->

<div class="main-content">

{% block content %}
{% endblock %}

</div>

<!-- Footer -->

<div class="footer">
<p>© 2026 KOL Connect</p>
</div>

</div>

</body>
</html>